@font-face {
    font-family: 'Percolator-expert';
    src: url(../Fonts/percolator-expert.ttf);
}
@font-face {
    font-family: 'Dweeg';
    src: url(../Fonts/Dweeg.TTF);
}
@font-face {
    font-family: 'Gothic_ultra';
    src: url(../Fonts/Gothic_ultra.ttf);
}
